@media screen and (min-width: 1300px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}

    div.menuTextBox{
    	background-color: rgba(17, 17, 17, 0.9);
    	color: #1ac6ff;
		border: 5px double #1ac6ff;
		border-radius: 20px;
    	opacity: 1;

    	width: 20%;
    	height: 80%;
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
	}
}