<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="jedkanje,tiskana vezja,projektna naloga,PCB,etching,hcl"/>
    <meta name="description" content="Predstavitev jekdanja vezij"/>
    <link rel="stylesheet" href="../main.css"/>
    <link rel="stylesheet" href="../subpage.css"/>
    <title>Templata</title>
</head>
<body>
    <div class="group">
        <div class="header">
            <div class="menuButton">
                <a href="http://vaje.gimvic.org/2a/jedkanje/" style="width: inherit; height: inherit;">
                    <img src="http://vaje.gimvic.org/2a/jedkanje/img/gimvic.png" id="menuImage"/>
                </a>
            </div>
            <div class="menuBar">
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/opis/" class="menuItem">Opis projekta</a></div>
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/teorija/" class="menuItem">Teorija</a></div>
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/nase_vezje/" class="menuItem">Vezje</a></div>
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/jedkanje/" class="menuItem">Jedkanje vezja</a></div>
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/zakljucki/" class="menuItem">Zaključki</a></div>
                <div class="menuItem"><a href="http://vaje.gimvic.org/2a/jedkanje/projektna_mapa/" class="menuItem">Projektna mapa</a></div>
            </div>
            <script src="../menuOpener.js"></script>
        </div>
        <div class="content">
            <p></p>
        </div>
    </div>
</body>
</html>
